{% load static %}
<html>
<head>
<title>Legal Information Access</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Username");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Password");
	formObj.t2.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
	
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Enhancing Legal Information Access with Cutting Edge AI & RAG Technology</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
      <ul>      
     <li><a href="{% url 'LegalAdvice' %}"><font size="3" color="black">Legal Advice</a></li>
	 <li><a href="{% url 'Chatbot' %}"><font size="3" color="black">Text Chatbot</a></li>
	 <li><a href="{% url 'Summarize' %}"><font size="3" color="black">Summarize the Document</a></li>
	 <li><a href="{% url 'VoiceChatbot' %}"><font size="3" color="black">Voice Chatbot</a></li>
	 <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</a></li>
   </ul>         
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'SummarizeAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Legal Document Summarization Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color="black">Upload&nbsp;Legal&nbsp;Text</td>
			 <td><input type="file" name="t1" style="font-family: Comic Sans MS" size="15"/></td></tr>
         
		  	<tr><td></td><td><input type="submit" value="Get Recommendation"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>